
@{
    Layout = null;
}
@model String
    <script src="~/js/jquery-3.2.1.min.js">

    </script>
    <html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title></title>
    </head>
    <body>
        <div style="color:red">
            @Model
        </div>
        <a href="../">Quay lại trang chủ</a>
    </body>
    </html>
    @if (Model.Equals("Sai mã xác nhận"))
    {
        <script>
            alert("Sai mã xác nhận");
            location.href = "../";
        </script>
    }