@model String
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>MailResetPassword</title>
    <script src="~/js/jquery-3.2.1.min.js"></script>
    <link href="~/css/style.css" rel="stylesheet" />
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <div style="color:red">
        @Model
    </div>
    @if (ViewData["username"] != null)
    {
        <div class="container">
            <form action="/Accounts/ChangePass" method="post">
                <label>Tên đăng nhập</label>
                <input class="form-control" type="text" name="username" value=@ViewData["username"] />
                <label>Mã xác nhận</label>
                <input class="form-control" type="text" name="code" value="" />
                <label>Mật khẩu Mới</label>
                <input class="form-control" name="pass" type="password" id="passRegister">
                <span class="error error-password" color="red">Mật khẩu phải hơn 8 ký tự(bao gồm cả chữ thường, chữ hoa và ít nhất 1 số)</span>
                <label>Nhập Lại Mật Khẩu</label>
                <input class="form-control" type="password" id="passComfirm">
                <span class="error error-repassword" color="red">Mật khẩu không khớp, vui lòng nhập lại</span>
                <button type="button" class="btn btn-success" id="submit-changepass">Đăng Kí</button>
            </form>
        </div>
    }
    <a href="~/"> Quay lại </a>

</body>
</html>
<script>
    $(document).ready(function () {
        $("#submit-changepass").click(function () {
            var password = $("#passRegister").val();
            var passwordConfirm = $("#passComfirm").val();
            if (!(/(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$/).test(password)) {
                $(".error-password").css("display", "block");
                return false;
            }
            else {
                $(".error-password").css("display", "none");
            }
            if (password != passwordConfirm) {
                $(".error-repassword").css("display", "block");
                return false;
            }
            else {
                $(".error-repassword").css("display", "none");
            }
            $("form").submit();
        })
    })
</script>