<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <p>Xin Chào</p>
        <p>Để Xác Thực Mật Khẩu Của Bạn</p>
        <p>Vui Lòng Bấm Vào <a href="@ViewBag.ConfirmEmail">Đây</a></p>
    </div>
</body>
</html>
