
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}
<div class="container">
    <ul class="breadcrumb corlor_white">
        <li><a href="../" style="color:white">Trang Chủ</a></li>
        <li><a href="#" style="color:white">Chi nhánh</a></li>
    </ul>
</div>
<div style="height:500px;">

</div>

