@{
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}


    <div class="container">
        <ul class="breadcrumb corlor_white">
            <li><a href="#" style="color:white">Trang Chủ</a></li>
            <li><a href="#" style="color:white">Khóa Học Bánh</a></li>
            <li><a href="#" style="color:white">Lớp Bánh Âu Gia Đình</a></li>
            <li><a href="#" style="color:white">Công ty RikkeiSoft</a></li>
        </ul>
    </div>
   
    <div class="container body-baiviet">
        <div class="row">
            <aside class="left left-content  col-md-3 col-md-pull-9 left-coure">
                <div class="aside-item collection-category">
                    <div class="aside-heading">
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <h2 class="title-head"><a href="kinh-nghiem-lam-banh">Tin tức nổi bật</a></h2>
                    </div>
                    <div class="aside-content">
                        <div class="list-blogs list-blogs-page-blog">

                            <article class="blog-item">
                                <div class="blog-item-thumbnail">
                                    <a href="/lam-banh-tranh-games">

                                        <img src="" alt="Làm bánh, tránh... games">

                                    </a>
                                </div>
                                <h3 class="blog-item-name"><a href="/lam-banh-tranh-games">Làm bánh, tránh... games</a></h3>
                                <div class="postby">
                                    <div class="pull-left">
                                        <i class="fa fa-user" aria-hidden="true"></i> ÚT THIỆN
                                    </div>
                                    <div class="pull-left">
                                        <i class="fa fa-calendar" aria-hidden="true"></i> 27/09/2019
                                    </div>
                                </div>
                                <p class="blog-item-summary"> Trong căn nhà được trang trí màu vàng như lòng quả trứng gà rộn vang tiếng ríu rít của các bạn nhỏ. Một cậu bé nói với bạn: "mẹ...</p>
                            </article>

                            <article class="blog-item">
                                <h3 class="blog-item-name"><a href="">Cách Làm Mousse Chanh Leo</a></h3>
                                <div class="postby">
                                    <div class="pull-left">
                                        <i class="fa fa-user" aria-hidden="true"></i> ÚT THIỆN
                                    </div>
                                    <div class="pull-left">
                                        <i class="fa fa-calendar" aria-hidden="true"></i> 23/09/2019
                                    </div>
                                </div>
                            </article>

                            <article class="blog-item">
                                <h3 class="blog-item-name"><a href="/cach-lam-banh-matcha-delight">Cách Làm Bánh Matcha Delight</a></h3>
                                <div class="postby">
                                    <div class="pull-left">
                                        <i class="fa fa-user" aria-hidden="true"></i> ÚT THIỆN
                                    </div>
                                    <div class="pull-left">
                                        <i class="fa fa-calendar" aria-hidden="true"></i> 23/09/2019
                                    </div>
                                </div>
                            </article>

                            <article class="blog-item">
                                <h3 class="blog-item-name"><a href="/8-bi-quyet-de-nuong-banh-thanh-cong">8 bí quyết để nướng bánh thành công</a></h3>
                                <div class="postby">
                                    <div class="pull-left">
                                        <i class="fa fa-user" aria-hidden="true"></i> ÚT THIỆN
                                    </div>
                                    <div class="pull-left">
                                        <i class="fa fa-calendar" aria-hidden="true"></i> 23/09/2019
                                    </div>
                                </div>
                            </article>

                        </div>
                    </div>
                </div>

            </aside>
            <section class="right-content col-md-9 col-md-push-4 right-coure1">
                <article class="article-main">
                    <div class="row" style="background-color: rgba(0,0,0,0.5) !important;">
                        <div class="col-lg-12">

                            <div class="article-details list-blogs-page-blog">
                                <h1 class="article-title"><a href="#" itemprop="name" class="title-bv">Công Ty RikkeiSoft</a></h1>

                                <div class="postby">
                                    <div class="pull-left">
                                        <i class="fa fa-user" aria-hidden="true"></i> ÚT THIỆN
                                    </div>
                                    <div class="pull-left">
                                        <i class="fa fa-calendar" aria-hidden="true"></i> 22/10/2019
                                    </div>
                                </div>
                                <ul class="posts-by-tags">
                                    <li><a href="https://blog.beemart.vn/cach-lam-banh-troi-tau-nhan-vung-den-nhan-dau-xanh/">Cách làm bánh trôi tàu nhân vừng đen, nhân đậu xanh</a></li>
                                    <li><a href="https://blog.beemart.vn/hoc-cach-lam-banh-troi-tau-hap-dan-ngon-tuyet-cho-ca-nha/">Học cách làm bánh trôi tàu hấp dẫn ngon tuyệt cho cả nhà</a></li>
                                    <li><a href="https://blog.beemart.vn/banh-troi-han-quoc-khac-gi-banh-troi-viet-nam/">Bánh trôi Hàn Quốc khác gì bánh trôi Việt Nam</a></li>
                                </ul>

                                <div class="article-content" itemprop="description">
                                    <div class="rte">
                                        <p><strong><span style="color:#c0392b"><span style="font-size:11pt"><span style="line-height:107%"><span style="font-family:Calibri,sans-serif"><span style="font-family:&quot;Arial&quot;,sans-serif">LỚP NGOẠI KHÓA ĐĂNG KÝ NGAY </span></span></span></span></span><span style="font-size:24px"><span style="background:white"><span style="line-height:normal"><span style="font-family:Calibri,sans-serif"><span style="text-decoration:underline"><a href="https://docs.google.com/forms/d/e/1FAIpQLSfOxtoP54cR_hFP9N1bltfFEvRqgNDhQgXcSoo1tktFujbkmQ/viewform"><span style="color:#c0392b">TẠI ĐÂY!</span></a></span></span></span></span></span></strong></p>
                                        <p>
                                            <strong>TRẢI NGHIỆM LÀM BÁNH CÙNG CHỊ EM RIKKEISOFT ĐÀ NẴNG</strong><br>

                                            <br>
                                            Các chị em gia đình Rikkeisoft Đà Nẵng vừa có những phút giây trải nghiệm thú vị khi cùng nhau học và thực hiện những chiếc bánh Mousse Chanh dây ngay tại Công ty.<br>
                                            <br>
                                            Tại lớp học làm bánh, các chị em được <strong>Trung Tâm Út Thiện - Học làm bánh Đà Nẵng </strong>hướng dẫn tận tình và cụ thể từ việc giới thiệu các nguyên vật liệu, dụng cụ làm bánh, cách sử dụng, cho đến phần trang trí thành phẩm. Mọi người còn được trang bị đầy đủ các dụng cụ và nguyên liệu cần thiết để tạo nên những chiếc Mousse Chanh dây. 😝 😝
                                        </p>
                                        <p>
                                            Dù bận rộn nhưng mọi người vẫn cố gắng sắp xếp thời gian để tham gia lớp học sau giờ làm, dành thời gian để cùng nhau trải nghiệm, chia sẻ những câu chuyện, cảm xúc với nhau. Đây không chỉ là một trải nghiệm mà còn là kỷ niệm khó quên của chị em gia đình Rikkei Đà Nẵng.<br>
                                            <br>
                                            Cùng xem lại những khoảnh khắc và thành quả của chị em nhà Rikkei nhé!!!&nbsp;
                                        </p>
                                        <p><u><strong>Video 1:</strong></u> Các bạn đang thi tài năng&nbsp;<u><strong><span style="font-size:16px;"><span style="background:white"><span style="line-height:normal"><span style="font-family:Calibri,sans-serif"><span style="text-decoration:underline"><a href="https://www.facebook.com/pg/HocLamBanhDaNang/videos/?ref=page_internal"><span style="color:#c0392b">TẠI ĐÂY!</span></a></span></span></span></span></span></strong></u></p>
                                        <p><u><strong>Video 2:</strong></u>&nbsp;Cả khán phòng ồ lên khi thành phẩm ra mắt&nbsp;<u><strong><span style="font-size:16px;"><span style="background:white"><span style="line-height:normal"><span style="font-family:Calibri,sans-serif"><span style="text-decoration:underline"><a href="https://www.facebook.com/HocLamBanhDaNang/videos/422271371693255/"><span style="color:#c0392b">TẠI ĐÂY!</span></a></span></span></span></span></span></strong></u></p>
                                        <p>Chúng ta cũng điểm lại một vài hình ảnh cùng với cô Út Thiện nhé:</p>
                                        <p><img data-thumb="original" original-height="608" original-width="912" src="~/img/bv1.jpg"></p>
                                        <p>Cô Út Thiện giới thiệu dụng cụ nhé</p>
                                        <p><img data-thumb="original" original-height="608" original-width="912" src="~/img/bv1.jpg"></p>
                                        <p>Bắt đầu làm bánh nào</p>
                                        <p><img data-thumb="original" original-height="608" original-width="912" src="~/img/bv2.jpg"></p>
                                        <p><img data-thumb="original" original-height="608" original-width="912" src="//bizweb.dktcdn.net/100/366/280/files/hinh-9-0f1ddabb-64f4-43bd-a6ab-eebe3189dfce.jpg?v=1571717887702"></p>
                                        <p>Các bạn luôn được cô Thiện hỗ trợ tối đa</p>
                                        <p><img data-thumb="original" original-height="608" original-width="912" src="//bizweb.dktcdn.net/100/366/280/files/hinh-12-decaf2ad-5e1c-4101-bbae-5a81705acbb1.jpg?v=1571717937665"></p>
                                        <p>Thêm đường nhé</p>
                                        <p><img data-thumb="original" original-height="608" original-width="912" src="//bizweb.dktcdn.net/100/366/280/files/hinh-13-49f89f8b-ea9d-4062-8024-88a9971f4287.jpg?v=1571717952126"></p>
                                        <p>Còn đây là đánh trứng nhé</p>
                                        <p><img data-thumb="original" original-height="608" original-width="912" src="//bizweb.dktcdn.net/100/366/280/files/hinh-20-5a6d57c1-c328-4d0f-b078-75434754d5a0.jpg?v=1571717986553"></p>
                                        <p>Yeah! Ăn bánh nào</p>
                                        <p><img data-thumb="original" original-height="608" original-width="912" src="//bizweb.dktcdn.net/100/366/280/files/hinh-tong-quat-684f6734-19e9-450c-a7eb-18d7a9b0ac7d.jpg?v=1571718008066"></p>
                                        <p>Và đây là nguyên đội hình ngày hôm đó nè.</p>
                                        <p>Út Thiện tin chắc rằng, những ai tham gia lớp học tại&nbsp;Út Thiện, sẽ có những khoảnh khắc tuyệt vời.</p>
                                        <p>Còn bạn thì sao,&nbsp;<strong><span style="color:#c0392b"><span style="font-size:11pt"><span style="line-height:107%"><span style="font-family:Calibri,sans-serif"><span style="font-family:&quot;Arial&quot;,sans-serif">LỚP NGOẠI KHÓA ĐĂNG KÝ NGAY </span></span></span></span></span><span style="font-size:24px"><span style="background:white"><span style="line-height:normal"><span style="font-family:Calibri,sans-serif"><span style="text-decoration:underline"><a href="https://docs.google.com/forms/d/e/1FAIpQLSfOxtoP54cR_hFP9N1bltfFEvRqgNDhQgXcSoo1tktFujbkmQ/viewform"><span style="color:#c0392b">TẠI ĐÂY!</span></a></span></span></span></span></span></strong></p>
                                        <p>Trung Tâm Út Thiện - Học làm bánh Đà Nẵng</p>
                                    </div><div class="rte">

                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="article-tags col-md-6 col-sm-6 col-xs-12">
                            <span style="color: white;">tags:</span>
                            <ul class="list-unstyled tags">

                                <li><a href="/blogs/all/tagged/cong-ty-rikkeisoft">Công Ty RikkeiSoft</a></li>

                            </ul>
                        </div>

                        <div class="col-xs-12 col-sm-12 social-sharing">

                            <div class="social-media" data-permalink="https://utthien.com/cong-ty-rikkeisoft" style="color: white;">
                                Chia sẻ:

                                <a target="_blank" href="//www.facebook.com/sharer.php?u=https://utthien.com/cong-ty-rikkeisoft" class="share-facebook" title="Chia sẻ lên Facebook">
                                    <i class="fab fa-facebook-f"></i>
                                </a>

                                <a target="_blank" href="//twitter.com/share?text=CôngTyRikkeiSoft&amp;url=https://utthien.com/cong-ty-rikkeisoft" class="share-twitter" title="Chia sẻ lên Twitter">
                                    <i class="fab fa-twitter"></i>
                                </a>

                                <a target="_blank" href="//pinterest.com/pin/create/button/?url=https://utthien.com/cong-ty-rikkeisoft&amp;media=http:1024x1024&amp;description=CôngTyRikkeiSoft" class="share-pinterest" title="Chia sẻ lên pinterest">
                                    <i class="fab fa-pinterest"></i>
                                </a>

                                <a target="_blank" href="//plus.google.com/share?url=https://utthien.com/cong-ty-rikkeisoft" class="share-google" title="+1">
                                    <i class="fab fa-google-plus"></i>
                                </a>

                            </div>
                        </div>

                        <div class="col-xs-12 coment">
                            <br>
                            <br>
                            <h5 class="title-form-coment"><b>0 bình luận</b></h5>

                            <form accept-charset="UTF-8" action="/posts/cong-ty-rikkeisoft/comments" id="article_comments" method="post">
                                <input name="FormType" type="hidden" value="article_comments">
                                <input name="utf8" type="hidden" value="true">

                                <div>
                                    <div class="form-coment page-login">
                                        <div>
                                            <h5 class="title-form-coment"><b>Gửi ý kiến của bạn cho chúng tôi</b></h5>
                                        </div>
                                        <div class="row">

                                            <fieldset class="form-group col-xs-12 col-sm-6">
                                                <span>Tên *</span>
                                                <input type="text" class="form-control form-control-lg" value="" id="full-name" name="Author" required="">
                                            </fieldset>
                                            <fieldset class="form-group col-xs-12 col-sm-6">
                                                <span>Email *</span>
                                                <input type="email" class="form-control form-control-lg" value="" id="email" name="Email" required="">
                                            </fieldset>
                                            <fieldset class="form-group col-xs-12 col-sm-12 col-md-12">
                                                <span>Nhập nội dung</span>
                                                <textarea class="form-control form-control-lg" id="comment" maxlength="500" name="Body" rows="6" required=""></textarea>
                                            </fieldset>
                                        </div>
                                        <div class="btn-binhluan">
                                            <br>
                                            <button type="submit" class="btn btn-style btn-primary">Gửi bình luận</button>
                                            <br>
                                            <br>
                                        </div>
                                    </div>
                                    <!-- End form mail -->
                                </div>
                            </form>
                        </div>

                    </div>
                </article>
            </section>
        </div>
    </div>
    