@{
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}
@using System.Globalization

<style>
    .cart-button-fixed {
        display: none !important;
    }
</style>
@using UtThienWeb.Controllers;
<h1>Shopping Cart</h1>

<div class="shopping-cart">

    <div class="column-labels">
        <label class="product-image">-</label>
        <label class="product-details">Tên khóa</label>
        <label class="product-price">Giá</label>
        <label class="product-quantity">Số lượng</label>
        <label class="product-removal">-</label>
        <label class="product-line-price">Tổng cộng</label>
    </div>
    @foreach (var item in (List<UtThienWeb.Models.Course>)Session["cart"])
    {
        <div class="product">

            <div class="product-image">
                <img src="~/img/@item.CourseThumbails">
            </div>
            <div class="product-details">
                <div class="product-title">@item.CourseName</div>

            </div>
            <div class="product-price">@String.Format(CultureInfo.InvariantCulture, "{0:N0}", item.CoursePrice)</div>
            <div class="product-quantity">
                <input type="number" class="@item.CourseId" min="1" value="1">
            </div>
            <div class="product-removal">
                <button id=@item.CourseId class="remove-product">
                    Xóa
                </button>
            </div>
            <div class="product-line-price product-line-prices">@item.CoursePrice</div>

        </div>
    }
    <div class="totals">
        <div class="totals-item">
            <label>Tổng thành tiền</label>
            <div class="totals-value" id="cart-subtotal"></div>
        </div>
    </div>
    <button class="btn btn-success">Trở về</button>
    <button class=" btn checkout btn-create-order">Đặt khóa học</button>

</div>

<form action="/Courses/OrderAnonymoues" method="post" class="modal fade" id="modalinfo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
      aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h4 class="modal-title w-100 font-weight-bold">Thông tin liên hệ</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body mx-3">
                <div class="md-form mb-5">
                    <label data-error="wrong" data-success="right" for="orangeForm-name"><i class="fas fa-user prefix grey-text"></i> Họ tên </label>
                    <input type="text" required id="#" name="name" class="form-control validate">
                </div>
                <div class="md-form mb-5">
                    <label data-error="wrong" data-success="right" for="orangeForm-email"><i class="fas fa-envelope prefix grey-text"></i> Email</label>
                    <input type="email" required id="orangeForm-email" name="email" class="form-control validate">
                </div>

                <div class="md-form mb-4">
                    <label data-error="wrong" data-success="right" for="orangeForm-pass"><i class="fa fa-phone-volume"></i> Số điện thoại</label>
                    <input type="text" required id="orangeForm-pass" name="phone" class="form-control validate">

                </div>
            </div>
            <div class="modal-footer d-flex justify-content-center">
                <button onclick="alert('Cảm ơn bạn đã đặt khóa học, Út Thiện sẽ liên hệ với bạn ngay!')" class="btn btn-danger buy-button-cart" style="width:20%">Đặt khóa</button>
            </div>
        </div>
    </div>
</form>
<input class="btn btn-danger btn-show-modal" hidden data-toggle="modal" data-target="#modalinfo">
<script>
    $(document).ready(function () {
        $(".btn-create-order").click(function () {
            @if (Session["current_user"] == null)
            {
                    <text>
                $(".btn-show-modal").click();
                    </text>
            }
            else
            {

                <text>
            alert("Cảm ơn bạn đã đặt khóa học, Út Thiện sẽ liên hệ với bạn ngay!");
            location.href = "/Courses/Order";
                </text>
            }
        })
        $(".product-quantity").change(function () {
             
            var value = $(this).find("input").val();
            var price = parseFloat($(this).prev(".product-price").html());
            $.ajax({
                type: "POST",
                url: "/Courses/ChangeQuantity/",
                data: {
                    quantity: value,
                    id: $(this).next().find("button").attr("id")
                }
            }).done(function (result) {
         
            })
            $(this).nextAll(".product-line-prices").html((value * price*1000));
            var sum = 0;
            $(".product-line-prices").each(function() {
                var values = parseFloat($(this).text());
                sum += values;
            });
            $(".totals-value").html(sum.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ","));

        })

    })
</script>