@{
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}
@using System.Globalization

<style>
    .cart-button-fixed {
        display: none !important;
    }
</style>
@using UtThienWeb.Controllers;
<h1>Shopping Cart</h1>

<div class="shopping-cart">

    <div class="column-labels">
        <label class="product-image">Image</label>
        <label class="product-details">Product</label>
        <label class="product-price">Price</label>
        <label class="product-quantity">Quantity</label>
        <label class="product-removal">Remove</label>
        <label class="product-line-price">Total</label>
    </div>
    @foreach (var item in (List<UtThienWeb.Models.Course>)Session["cart"])
    {
        <div class="product">

            <div class="product-image">
                <img src="~/img/@item.CourseThumbails">
            </div>
            <div class="product-details">
                <div class="product-title">@item.CourseName</div>

            </div>
            <div class="product-price">@String.Format(CultureInfo.InvariantCulture, "{0:N0}", item.CoursePrice)đ</div>
            <div class="product-quantity">
                <input type="number" value="1" min="1">
            </div>
            <div class="product-removal">
                <button id=@item.CourseId class="remove-product">
                    Remove
                </button>
            </div>
            <div class="product-line-price"> đ</div>

        </div>
    }
    <div class="totals">
        <div class="totals-item">
            <label>Subtotal</label>
            <div class="totals-value" id="cart-subtotal">71.97</div>
        </div>

    </div>
    <button class="btn btn-success">Trở về</button>
    <button class=" btn checkout btn-create-order">Đặt khóa học</button>

</div>

<form action="/Courses/OrderAnonymoues" method="post" class="modal fade" id="modalinfo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
      aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h4 class="modal-title w-100 font-weight-bold">Thông tin liên hệ</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body mx-3">
                <div class="md-form mb-5">
                    <label data-error="wrong" data-success="right" for="orangeForm-name"><i class="fas fa-user prefix grey-text"></i> Họ tên </label>
                    <input type="text" required id="#" name="name" class="form-control validate">
                </div>
                <div class="md-form mb-5">
                    <label data-error="wrong" data-success="right" for="orangeForm-email"><i class="fas fa-envelope prefix grey-text"></i> Email</label>
                    <input type="email" required id="orangeForm-email" name="email" class="form-control validate">
                </div>

                <div class="md-form mb-4">
                    <label data-error="wrong" data-success="right" for="orangeForm-pass"><i class="fa fa-phone-volume"></i> Số điện thoại</label>
                    <input type="text" required id="orangeForm-pass" name="phone" class="form-control validate">

                </div>
            </div>
            <div class="modal-footer d-flex justify-content-center">
                <button class="btn btn-danger" style="width:20%">Đặt khóa</button>
            </div>
        </div>
    </div>
</form>
<input class="btn btn-danger btn-show-modal" hidden data-toggle="modal" data-target="#modalinfo">
<script>
    $(document).ready(function () {
        $(".btn-create-order").click(function () {
            @if (Session["current_user"] == null)
            {
                    <text>
                $(".btn-show-modal").click();
                    </text>
            }
            else
            {

                <text>
            alert("Cảm ơn bạn đã đặt khóa học, Út Thiện sẽ liên hệ với bạn ngay!");
            location.href="/Courses/Order"
                </text>
            }

        })
    })
</script>