﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model UtThienWeb.Models.Slide[]
<!-- Hero section  -->
<div id="homepage-slider" class="st-slider">
    <input type="radio" class="cs_anchor radio" name="slider" id="play1" checked="" />
    <input type="radio" class="cs_anchor radio" name="slider" id="slide1" />
    <input type="radio" class="cs_anchor radio" name="slider" id="slide2" />
    <input type="radio" class="cs_anchor radio" name="slider" id="slide3" />
    <div class="images">
        <div class="images-inner">
            <div class="image-slide">
                <div class="banner-w3pvt-1 slide-img">
                    <div class="overlay-w3ls">
                    </div>
                </div>
            </div>
            <div class="image-slide">
                <div class="banner-w3pvt-2 slide-img">
                    <div class="overlay-w3ls">

                    </div>
                </div>
            </div>
            <div class="image-slide">
                <div class="banner-w3pvt-3 slide-img">
                    <div class="overlay-w3ls">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="labels">
        <div class="fake-radio">
            <label for="slide1" class="radio-btn"></label>
            <label for="slide2" class="radio-btn"></label>
            <label for="slide3" class="radio-btn"></label>
        </div>
    </div>
    <!-- banner-hny-info -->
    <div class="banner-hny-info">

        <div class="top-buttons mx-auto text-center mt-md-5 mt-5">
            <a href="#gioi-thieu" class="btn-banner">
                <img class="img-banner" src="~/img/icon-gioi-thieu.png" alt="">
                <div class="text-banner">
                    Giới Thiệu
                </div>
            </a>
            <a href="#nguoi-huong-dan" class="btn-banner">
                <img class="img-banner" src="~/img/icon-dau-bep.png" alt="">
                <div class="text-banner">
                    Giảng Viên
                </div>
            </a>
            <a href="#cac-chuyen-de" class="btn-banner">
                <img class="img-banner" src="~/img/icon-nghe-bep.png" alt="">
                <div class="text-banner">
                    Ngành Nghề
                </div>
            </a>
            <a href="#" class="btn-banner">
                <img class="img-banner" src="~/img/icon-lich-hoc.png" alt="">
                <div class="text-banner">
                    Khai Giảng
                </div>
            </a>
            <a href="#vi-tri" class="btn-banner">
                <img class="img-banner" src="~/img/icon-dia-diem.png" alt="">
                <div class="text-banner">
                    Cửu Hàng
                </div>
            </a>
            <a href="#co-so" class="btn-banner">
                <img class="img-banner" src="~/img/icon-dia-diem.png" alt="">
                <div class="text-banner">
                    Địa điểm
                </div>
            </a>
            <a href="#" class="btn-banner">
                <img class="img-banner" src="~/img/dvp-icon.png" alt="">
                <div class="text-banner">
                    Liên Hệ
                </div>
            </a>
        </div>

    </div>
    <!-- //banner-hny-info -->
</div>
<!-- Hero section end  -->
<!--Gioi Thieu-->
<div id="gioi-thieu" style=" background-image: url(../img/background.jpg) ">
    <div class="wrap">
        <div class="container py-md-4">
            <h1 class="tittle-w3ls two text-center">Út Thiện - Học làm bánh Đà Nẵng </h1>
        </div>
        <div class="flex-gioithieu">
            <div class="wrap-gioithieu">
                <p class="text-gioithieu">
                    Bài báo mang tên:" Làm bánh, tránh ... games" được biên tập và đăng tải trên báo Công
                    An Tp. Đà Nẵng (<span style="font-size:0.7em;color:dodgerblue">cadn.com.vn</span>) và báo mới (<span style="font-size:0.7em;color:dodgerblue">baomoi.com</span>) đã làm động lực
                    rất lớn sau những nổ lực, không ngừng phấn đấu của Trung Tâm Út Thiện - Học làm bánh Đà Nẵng.


                    <br> Báo Mới: <a href="https://baomoi.com/lam-banh-tranh-games/c/30967964.epi?fbclid=IwAR2bewXvrDeVdVJ6v6JDhtXRgldyPW931_2OLlmcn5YMsEBVnSrIRPFa3z8">Link bài báo</a>
                    <br> Báo Công An Tp.Đà Nẵng: <a href="http://cadn.com.vn/news/64_207271_lam-banh-tranh-games.aspx">Link bài báo</a>
                </p>

            </div>
            <div class="wrap-img-gioithieu">
                <img class="img-gioithieu" src="~/img/2019-04-07-08-58-25.jpg" alt="">
            </div>
        </div>
    </div>
</div>
<!--Gioi Thieu-->
<!--Giang Vien-->
<div id="nguoi-huong-dan" style="background-image: url(../img/bg-giang-vien.jpg)">
    <div class="wrap">
        <div class="container py-md-4">
            <h1 class="tittle-nguoihuongdan two text-center">Người Hướng Dẫn </h1>
        </div>
        <div class="flex-gv">
            <div class="wrap-img-gv">
                <img class="img-nguoihuongdan" src="~/img/nguoihuongdan.png" alt="">
                <div class="text-gv-img">
                    <div class="text-coutthien">Cô Út Thiện</div>
                    <br>
                    <p>
                        Giám Đốc Công ty TNHH
                        <br>Phạm Dương Bakery
                    </p>

                </div>
            </div>
            <div class="wrap-gv">
                <p class="text-nguoihuongdan">
                    Với niềm đam mê làm bánh ngay từ nhỏ với những ngày đầu
                    tiếp xúc với phương pháp học làm bánh đầy khó khăn và
                    tốn nhiều chi phí. Út Thiện luôn tự mình tìm ra những
                    phương pháp nhanh và cụ thể nhất giúp các bạn tiếp cận đến
                    chiếc bánh rất dễ dàng với chi phí thấp hiệu quả.
                    Trong 2 năm qua, Út Thiện đã truyền cảm hứng & động lực
                    cho rất nhiều học viên đến từ mọi lứa tuổi: học sinh, sinh viên,
                    mẹ&con cùng học, người đi làm, các Cô/Bác lớn tuổi tự làm ra
                    chiếc bánh tặng cho người mình yêu thương, với nền tảng 100% thực hành & luôn sẵn sàng hỗ trợ học viên sau khóa học. Út Thiện không ngừng tổ chức hoạt động ngoại khóa cho các Công Ty/Trung Tâm Anh Ngữ/Trường học trên địa bàn Đà Nẵng, Quảng Nam. Không những thế, Út Thiện còn giúp các bà mẹ "bỉm sửa" bán bánh online trên internet có thu nhập ổn định... Chính vì vậy, Út Thiện mong mỏi rằng: Niềm đam mê này được lan tỏa đến tất cả mọi người với 1 thông điệp "Bánh Handmade yêu thương"
                </p>
            </div>

        </div>
    </div>
</div>
<!--Giang Vien-->
<!--Cac Chuyen De-->
<div id="chuyen-de" style="background-image: url(../img/background.jpg)">
    <div class="wrap" style="padding-bottom: 30px;">
        <div class="container py-md-4">
            <h1 class="tittle-chuyende two text-center">Các Chuyên Đề Làm Bánh</h1>
        </div>
        <div class=" wrap-cd">
            @foreach (var item in (IEnumerable<UtThienWeb.Models.Course>)ViewBag.course)
            {
                <div class="wrap-chuyende">
                    <div class="img-chuyendebanhau">
                        <a href="#"><img width="100%" class="img-hoc-vien1" src="~/img/@item.CourseThumbails" alt=""></a>
                    </div>
                    <div class="text-chuyendebanhau">
                        <a href="#">@item.CourseName (cơ bản đến nâng cao)</a>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
<!--Cac Chuyen De-->
<!--Doi Tuong Hoc Vien-->
<div id="hoc-vien" style="background-image: url(../img/bg-giang-vien.jpg)">
    <div class="wrap">
        <div class="container py-md-5">
            <h1 class="tittle-nguoihuongdan two text-center">Đối Tượng Học Viên</h1>
        </div>
        <div class="flex-hocvien">
            <div class="btn-hoc-vien">
                <a href="#"><img class="img-hoc-vien" src="~/img/tuyen-sinh-hoc-lam-banh.png" alt=""></a>
                <a href="#"><p>Người Lớn</p></a>
            </div>
            <div class="btn-hoc-vien">
                <a href="#"><img class="img-hoc-vien" src="~/img/tuyen-sinh-bep-nong.png" alt=""></a>
                <a href="#"><p>Trẻ Em</p></a>
            </div>
            <div class="btn-hoc-vien">
                <a href="#"><img class="img-hoc-vien" src="~/img/tuyen-sinh-hoc-lam-kem.png" alt=""></a>
                <a href="#"><p>Mẹ & Bé</p></a>
            </div>
            <div class="btn-hoc-vien">
                <a href="#"><img class="img-hoc-vien" src="~/img/tuyen-sinh-hoc-pha-che.png" alt=""></a>
                <a href="#"><p>Công Ty</p></a>
            </div>
            <div class="btn-hoc-vien">
                <a href="#"><img class="img-hoc-vien" src="~/img/tuyen-sinh-quan-tri-nha-hang-khach-san.png" alt=""></a>
                <a href="#"><p>Trung Tâm</p></a>
            </div>
            <div class="btn-hoc-vien">
                <a href="#"><img class="img-hoc-vien" src="~/img/tuyen-sinh-quan-tri-nha-hang-khach-san.png" alt=""></a>
                <a href="#"><p>Trường Học</p></a>
            </div>
        </div>
    </div>
</div>
<!--Doi Tuong Hoc Vien-->
<!--Vi Tri-->
<div id="vi-tri" style="background-image: url(../img/background.jpg)">
    <div class="wrap" style="padding-bottom: 50px;">
        <div class="container py-md-4">
            <h1 class="tittle-w3ls two text-center">Vị Trí Học Làm Bánh</h1>
        </div>
        <div class="wrap-vitri row">
            <div class="col-md-4 offset-md-1 col-sm-8 offset-sm-2 col-xs-12">
                <div class="content1">
                    <div class="icon-img">
                        <img decoding="async" alt="món ngon" src="https://cdn.huongnghiepaau.com/wp-content/uploads/hnaau/mon-ngon.png" class="i-amphtml-fill-content i-amphtml-replaced-content">
                    </div>
                    <h3>Món ngon</h3>
                    <div class="row-blog">
                        <div class=" latest_posts clearfix latest_posts_4">
                            <div>
                                <div class="catItemView2">
                                    <article id="post-45447">
                                        <div class="post-thumbnail">
                                            <img style="max-width: 100%;" src="/img/cha-khoai-mon.jpg" alt="Alternate Text">
                                        </div>
                                        <div class="entry-intro">
                                            <p class="title">
                                                <a href="https://www.huongnghiepaau.com/cha-khoai-mon" title="Cách Làm Chả Khoai Môn Thơm Ngon Hết Sẩy">Cách Làm Chả Khoai Môn Thơm Ngon Hết Sẩy</a>
                                            </p>
                                            <div class="des-info">Cách làm chả khoai môn chay rất đơn giản kèm với hướng dẫn nước chấm ăn kèm sẽ giúp bạn có thêm món ăn mới...</div>
                                        </div>
                                    </article>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="col-md-4 offset-md-2 col-sm-8 offset-sm-2 col-xs-12">
                <div class="content1">
                    <div class="icon-img">
                        <img decoding="async" alt="món ngon" src="https://cdn.huongnghiepaau.com/wp-content/uploads/hnaau/mon-ngon.png" class="i-amphtml-fill-content i-amphtml-replaced-content">
                    </div>
                    <h3>Món ngon</h3>
                    <div class="row-blog">
                        <div class=" latest_posts clearfix latest_posts_4">
                            <div class=" col-xs-12">
                                <div class="catItemView2">
                                    <article id="post-45447">
                                        <div class="post-thumbnail">
                                            <img style="max-width: 100%;" src="/img/cha-khoai-mon.jpg" alt="Alternate Text">
                                        </div>
                                        <div class="entry-intro">
                                            <p class="title">
                                                <a href="https://www.huongnghiepaau.com/cha-khoai-mon" title="Cách Làm Chả Khoai Môn Thơm Ngon Hết Sẩy">Cách Làm Chả Khoai Môn Thơm Ngon Hết Sẩy</a>
                                            </p>
                                            <div class="des-info">Cách làm chả khoai môn chay rất đơn giản kèm với hướng dẫn nước chấm ăn kèm sẽ giúp bạn có thêm món ăn mới...</div>
                                        </div>
                                    </article>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<!--Vi Tri-->
<!--Sieu thi-->
<div id="sieu-thi" style="background-image: url(../img/bg-giang-vien.jpg)">
    <div class="wrap">
        <div class="container py-md-4">
            <h1 class="tittle-nguoihuongdan two text-center">Đồ Làm Bánh</h1>
        </div>
        <div class="flex-dolambanh">
            <div class="btn-co-so">
                <div>
                    <a href="https://utthien.com/dung-cu-lam-banh"><img class="img-dolambanh" src="~/img/cong-cu-dung-cu.png" alt=""></a>
                </div>
                <div>
                    <a href="https://utthien.com/dung-cu-lam-banh"><p>Công Cụ - Dụng Cụ</p></a>
                </div>

            </div>
            <div class="btn-co-so">
                <div>
                    <a href="https://utthien.com/nguyen-lieu-lam-banh"><img class="img-dolambanh" src="~/img/nguyen-vat-lieu.png" alt=""></a>

                </div>
                <div>
                    <a href="https://utthien.com/nguyen-lieu-lam-banh"><p>Nguyên Vật Liệu</p></a>
                </div>

            </div>
            <div class="btn-co-so">
                <div>
                    <a href="https://utthien.com/khuon-khay-lam-banh"><img class="img-dolambanh" src="~/img/thiet-bi-may-moc.png" alt=""></a>

                </div>
                <div>
                    <a href="https://utthien.com/khuon-khay-lam-banh"><p>Thiết Bị - Khuôn Khay</p></a>

                </div>
            </div>
        </div>
    </div>
</div>
<!--Sieu thi-->
<!--Co So Vat Chat-->


<div id="co-so" style="background-image: url(../img/background.jpg)">
    <div class="wrap">
        <div class="container py-md-4">
            <h1 class="tittle-w3ls two text-center">Cơ sở vật chất</h1>
        </div>
        <div class="wrap-cs">
            <div class="box-co-so">
                <div class="text-box-co-so">
                    <h3>

                        Hình ảnh (bổ sung sau)
                        Đang xây dựng ^^
                    </h3>
                </div>
            </div>

        </div>
    </div>
</div>
<script>
        $(document).ready(function () {
            $(".banner-w3pvt-1").css("background", "url(../img/@Model[0].SlideImages) no-repeat right top");
            $(".banner-w3pvt-2").css("background", "url(../img/@Model[1].SlideImages) no-repeat right top");
            $(".banner-w3pvt-3").css("background", "url(../img/@Model[2].SlideImages) no-repeat right top");
            $(".slide-img").css("background-size","cover");
        })
</script>
<!--Co So Vat Chat-->
<!--Footer-->
